/* App.css */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at top left, #2a0055, #0c0025);
  color: white;
  min-height: 100vh;
  overflow: hidden;
}

.app-wrapper {
  width: 100%;
  height: 100vh;
}

.main-container {
  display: flex;
  align-items: center;
  height: 100vh;
  background: radial-gradient(circle at top left, #2a0055, #0c0025);
  color: white;
}

.cube-area {
  flex: 1;
  height: 100vh;
}
